- var btnType = 'info'
- var btnSize = 'lg'
//- button(class!='btn btn-' + btnType + ' btn-' + btnSize type!='button')
button(class!='btn btn-' + btnType + ' btn-' + btnSize)
|
|
//- button(class!=`btn btn-${btnType} btn-${btnSize}` type!='button')
button(class!=`btn btn-${btnType} btn-${btnSize}`)