extends 00-default.pug

block scripts
  script(src!='/jquery.js')
  script(src!='/pets.js')

block content
  h1!= title
  - var pets = ['cat', 'dog']
  each petName in pets
    include 00-default-inherits-include.pug